.dialog-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);  /* for ie8 */
  z-index: 1;
}

.mask-show {
  display: block;
}

.mask-hide {
  display: none;
}
:root .dialog-mask { filter: none; } /* ie9去除滤镜 */
