.course-card {
  display: inline-block;
  width: 358px;
  height: 300px;
}

.course-banner {
  border: 1px solid rgb(219, 224, 228);
}

.course-info {
  position: relative;
  height: 214px;
  cursor: pointer;
}

.course-info img {
  width: 100%;
  height: 100%;
}

.course-meta {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 6px 17px;
  width: 100%;
  height: 34px;
  font-size: 14px;
  color: #F1F1F1;
  background: rgba(0, 0, 0, .5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}

:root .course-meta { filter: none; }

.course-meta i {
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 22px;
  background: resolve('friends.png');
  vertical-align: bottom;
}

.course-meta span {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.course-meta:hover:before {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 30%;
  box-sizing: border-box;
  border: 1px solid rgb(219, 224, 228);
  padding: 10px 20px;
  width: 290px;
  color: #4D5B67;
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
}

.course-meta-friends {
  margin-right: 22px;
  max-width: 152px;
}

.course-meta-time {
  max-width: 118px;
}

.course-tools-bar {
  box-sizing: border-box;
  padding: 4px 60px;
  font-size: 16px;
  text-align: center;
  background: rgb(250, 251, 253);
}

.course-name {
  margin: 0;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  line-height: 1.0;
  color: #4D5B67;
}
