.course-box {
  padding-left: 35px;
  font-size: 0;
}

.empty-course-box {
  height: 650px;
  background: resolve('no_resource.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.page {
  margin-top: 44px;
  text-align: center;
}
