/*
 * 自定义滚动条
 */

.scrollbar::-webkit-scrollbar {
  width:10px;
  height:10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(222, 222, 222);
  border-radius:6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(238, 238, 238);
  border-radius:6px;
}
