.user-info {
  display: inline-block;
  overflow: hidden;
  max-width: 200px;
  box-sizing: border-box;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #A0A0A0;
}

.user-info img {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: top;
}

.user-item {
  margin-right: 4px;
}
