.pagebar {
  display: inline-block;
  font-size: 0;
}

.pagebar li {
  display: inline-block;
  margin-right: 16px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #A0A0A0;
  background: rgb(231, 231, 231);
  cursor: pointer;
}

.pagebar li:hover {
  background: rgb(48, 184, 255);
  color: #fff;
}

.pagebar .page-select {
  background: rgb(22, 164, 250);
  color: #fff;
}

.pagebar .page-next {
  margin: 0;
}

li.disable,
li.page-elli {
  cursor: default;
}

li.disable:hover,
li.page-elli:hover {
  background: rgb(231, 231, 231);
  color: #A0A0A0;
}
