.btn {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px 0;
  text-align: center;
  color: rgb(241, 241, 241);
  background: rgb(22, 164, 250);
  background: linear-gradient(to bottom, rgb(27, 182, 251), rgb(17, 146, 249));
  cursor: pointer;
}

.btn-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-new {
  background-image: resolve('btn_new.png');
}

.btn-submit {
  background-image: resolve('btn_submit.png');
}

.gray {
  background: rgb(167, 178, 197);
  background: linear-gradient(to bottom, rgb(184, 193, 208), rgb(145, 158, 182));
}
