@import "util.css";

.dialog {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 1;
}

.dialog-title {
  box-sizing: border-box;
  padding:  12px 10px;
  height: 45px;
  text-align: center;
  color: #eff1f1;
  line-height: 20px;
  background: rgb(23, 167, 250);
}

.dialog-close {
  float: right;
  width: 20px;
  height: 20px;
  background: resolve('close.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.dialog-content {
  overflow: hidden;
  color: #4d5b67;
  background: #fff;
}

.dialog-footer {
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px 0;
  height: 90px;
  text-align: center;
  background: rgb(240, 245, 249);
}
