.tab-switch {
  display: inline-block;
  height: 100%;
  font-size: 0;
}

.tab-switch li {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 7px 39px 0;
  font-size: 18px;
  color: #4D5B67;
  cursor: pointer;
}

.tab-switch span {
  padding: 0 15px 10px;
}

.tab-select span {
  color: #16A4FA;
  border-bottom: 2px solid #16A4FA;
}

.tab-odd {
  border-right: 1px solid rgb(188, 188, 188);
}
