.header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background: #fff;
}

.logo {
  float: left;
  box-sizing: border-box;
  padding-top: 20px;
  width: 265px;
  height: 100%;
  text-align: center;
  background: rgb(22, 164, 250);  /* for IE8 */
  background: linear-gradient(to right, rgb(48, 184, 255), rgb(27, 148, 218));
}

.logo img,
.logo h1 {
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  margin-left: 8px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.header-content {
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-left: 265px;
  padding-right: 54px;
  height: 100%;
}

select {
  float: right;
  border-color: rgb(22, 164, 250);
  outline: none;
  margin-top: 16px;
  padding: 0 5px;
  width: 102px;
  height: 34px;
  font-size: 14px;
  color: rgb(22, 164, 250);
}
