.search-input {
  border: 1px solid rgb(226, 226, 226);
}

.search-input-container {
  position: relative;
  box-sizing: border-box;
}

.search-input i {
  position: absolute;
  top: 9px;
  right: 5px;
  width: 17px;
  height: 18px;
  background: resolve('search.png');
}

.search-input input {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: #A0A0A0;
}
