@import 'util.css';

.add-course-container {
  padding: 30px 40px;
  padding-bottom: 10px;
}

.add-course-container label {
  float: left;
  margin-top: 8px;
  width: 70px;
  text-align: right;
}

.add-course-container input,
.add-course-container textarea {
  display: block;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgb(208, 208, 208);
  margin: 0 0 25px 80px;
}

.resource-name,
.pic-upload {
  width: 300px;
  height: 35px;
  line-height: 20px;
}

.pic-upload {
  color: #959595;
  cursor: pointer;
}

.author {
  position: relative;
}

.author img {
  position: absolute;
  right: 145px;
  bottom: 28px;
  cursor: pointer;
}

.author-name {
  display: inline-block;
  overflow: auto;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid rgb(208, 208, 208);
  width: 400px;
  height: 85px;
}

.author-name li {
  display: inline-block;
  padding: 5px;
}

.btn-del-author {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: resolve('del_author.png');
  background-repeat: no-repeat;
  vertical-align: bottom;
  cursor: pointer;
}

.abstract {
  width: 545px;
  height: 150px;
  resize: none;
}
