.course-tool {
  display: inline-block;
  color: #A0A0A0;
  text-align: center;
  cursor: pointer;
}

.course-edit {
  float: left;
}

.course-delete {
  float: right;
}

.course-edit i {
  background: resolve('edit.png');
}

.course-play i {
  background: resolve('play.png');
}

.course-play-played i {
  background: resolve('play_yellow.png');
}

.course-delete i {
  background: resolve('delete.png');
}

.course-tool i {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
