.user {
  display: inline-block;
  padding: 0 54px 0 36px;
  height: 100%;
  font-size: 0;  /* 消去换行符造成的间隔 */
}

.user ul,
.user li {
  display: inline-block
}

.user ul {
  padding-top: 20px;
}

.user li {
  box-sizing: border-box;
  padding: 3px 16px;
  height: 24px;
}

.li-space {
  border-right: 1px solid rgb(188, 188, 188);
}
