@import "util.css";

.class-member-content {
  position: relative;
  padding: 20px;
}

.member-list,
.member-saved {
  border: 1px solid rgb(208, 208, 208);
  width: 138px;
  height: 420px;
}

.member-name {
  overflow: auto;
  border-top: none;
  height: 385px;
}

.member-name li {
  padding: 10px 10px;
  white-space: nowrap;
  cursor: pointer;
}

.member-name li:hover {
  background: rgb(240, 245, 249);
}

.member-select {
  background: rgb(195, 229, 250);
}

.member-saved {
  float: right;
}
